.contact {
  display: inline-block;
  transition: transform 250ms ease-out;
}

.contact-name {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: white;
  height: 2.5rem;
  width: 18.75rem;
  margin: 25px 50px 0px 50px;
  padding-top: 5px;
  text-align: center;
  font-size: medium;
  box-shadow: 2px 2px 5px 1px #888888;
  cursor: pointer;
}
.contact-info {
  background-color: white;
  color: black;
  height: 5.5rem;
  width: 18.75rem;
  margin: 0px 50px 10px 50px;
  padding-top: 1rem;
  text-align: center;
  font-size: 14px;
  box-shadow: 2px 2px 5px 1px #888888;
}

.contact:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 600px) {
  .contact-name {
    margin: 0;
    margin-top: 1rem ;
  }

  .contact-info {
    margin: 0;
    margin-bottom: 1rem;
  }
}
