.contact-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.label {
  color: grey;
  padding: 0.5rem 0;
  display: inline-block;
  width: 4rem;
}

.name {
  color: black;
  padding: 0.5rem 1rem;
}

.invalid-input {
  color: red;
  font-size: 0.8rem;
  font-family: inherit;
  margin-right: 7rem;
  display: flex;
  justify-content: flex-end;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
}