@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
// Separate your custom scss into modules
@import './variables';
@import '~bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

main {
  min-height: 100vh;
}

