.container{
  margin-top: 3rem;
  display: flex;
}

.wrapper {
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: color 200ms ease-out;
  // border-bottom: '3px solid red'; 
  // display: "inline-block";
  // margin: "0 auto";
}

.filter-table {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 400;
  visibility: visible;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter-element {
  margin-right: 3rem;
  cursor: pointer;
  transition: color 200ms ease-out;
}

.title:hover, .filter-element:hover {
  color: red;
}
